<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC194Lhl9_7_4cLeTFlT1ShWEcUHHHTSnc</string>
	<key>GCM_SENDER_ID</key>
	<string>119833330228</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sample2</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c1b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c1b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119833330228:ios:29f80f7b469b3f3b960061</string>
</dict>
</plist>